$def with (content)
<!DOCTYPE html>
<html lang="en">
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>$content.title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/static/css/foxy-beaver.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
  <body>
    <div class="mdl-layout__container">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer is-upgraded">
        <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 is-casting-shadow">
          <div class="mdl-layout__drawer-button">
            <i class="material-icons"></i>
          </div>
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
              $content.title
            </span>
            <div class="mdl-layout-spacer"></div>
          </div>
        </header>
        <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
          <header>
          </header>
          <nav class="mdl-navigation mdl-color--blue-grey-800">
            $if session.auth:
              <a href="/admin/" class="mdl-navigation__link">
                <i class="material-icons">home</i>
                Home
              </a>
              <a href="/media/" class="mdl-navigation__link">
                <i class="material-icons">insert_photo</i>
                Media
              </a>
              <a href="/users/" class="mdl-navigation__link">
                <i class="material-icons">person</i>
                User
              </a>
              <a href="/entry/" class="mdl-navigation__link">
                <i class="material-icons">mode_edit</i>
                Post
              </a>
            $else:
              <a href="/" class="mdl-navigation__link">
                <i class="material-icons">home</i>
                Home
              </a>
          </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
          <div class="mdl-grid">
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
              <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">$:content</div>
            </div>
          </div>
        </main>
      </div>
    </div>
    
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <script src="/static/js/require.js"></script>
    $if content.jsfiles:
      $for f in content.jsfiles.split():
        <script>
          require('$f');
        </script>
  </body>
</html>
