$def with (values)
$var title = 'Hello Pussy'

  <div class="cf frame">
      $for post in values['posts']:
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="/post/$post.slug/" itemprop="url">$post.title</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>$post.teaser</p>
          </section>
          <div class="post-meta">
            <time datetime="13 March 2016">$post.when_created</time>
          </div>
        </div>
      </article>
  </div>
