$def with (values)
$var title: Latest
$var jsfiles: latest.js

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <ul class="mdl-list">
    $for post in values['blog_posts']:
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">mode_edit</i>
          <span><a href="/entry/$post.id">$post.title</a></span>
          <span class="mdl-list__item-sub-title"></span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-content">
            <span class="mdl-list__item-secondary-info">Online</span>
            $if post.online:
              <i class="material-icons">visibility</i>
            $else:
              <i class="material-icons">visibility_off</i>
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
