$def with (content)
<!DOCTYPE html>
<html lang="en">
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>$content.title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.grey-orange.min.css">
    <link rel="stylesheet" href="/static/css/foxy-beaver.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="mdl-layout__container">
      <div class="mdl-layout mdl-js-layout">
      <main class="mdl-layout__content">
        <div class="page-content">$:content</div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
            <nav>
              <a href="/">
                Home
              </a>
              <a href="/contact/">
                Contact
              </a>
            </nav>
          </div>
          <div class="mdl-cell mdl-cell--6-col"></div>
        </div>        
      </footer>
    </div>
    </div>

    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <script src="/static/js/require.js"></script>
    $if content.jsfiles:
      $for f in content.jsfiles.split():
        <script>
          require('$f');
        </script>
  </body>
</html>
