$def with (values)
$var title: Login
$var jsfiles: login.js

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            <form action="/adgang" id="form__login" method="post" autocomplete="off">
              <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="user_mail" type="text" id="user-mail" required>
                    <label class="mdl-textfield__label" for="user-mail">Username</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="user_pwd" type="password" id="user-pwd" required>
                    <label class="mdl-textfield__label" for="user-pwd">Password</label>
                  </div>
                  <div class="mdl-checkboxfield">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember-me">
                      <input type="checkbox" id="remember-me" name="user_remember" value="1" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Remember me</span>
                    </label>
                  </div>
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>
